/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
backups
.env.*
.env.backup
pnpm-lock.yaml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
install.lock
.env.buck
data
.spec-workflow
